@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/authLayout.css" />
</head>
<body class="auth-page">
    <header class="auth-logo">@Localizer["ApplicationName"]</header>

    @RenderBody()

    <footer class="footer-wrapper">
        <div class="footer-content">
            <span>@Localizer["NeedHelp"]</span>
            <a href="#" class="d-inline-flex align-items-center"
               data-bs-toggle="modal"
               data-bs-target="#contactModal"
               title="@Localizer["ContactUsTitle"]">
                <span class="footer-content-underline me-2">@Localizer["ContactUs"]</span>
                <img src="~/images/mail-icon.png" alt="Mail icon" class="mail-icon" />
            </a>
        </div>
    </footer>

    <partial name="~/Views/Shared/_ContactModalForm.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
