@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "FAQ";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/FAQ.css" asp-append-version="true" />
}

<section class="hero">
    <h1><b>@Localizer["PageTitle"]</b></h1>
</section>

<div class="faq-container">
    <h1>FAQ<br></h1><h2>@Localizer["Subtitle"]</h2>
    <div class="faq-grid">
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question1"]</div>
            <div class="faq-answer">@Localizer["Answer1"]</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question2"]</div>
            <div class="faq-answer">@Localizer["Answer2"]</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question3"]</div>
            <div class="faq-answer">@Localizer["Answer3"]</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question4"]</div>
            <div class="faq-answer">@Localizer["Answer4"]</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question5"]</div>
            <div class="faq-answer">@Localizer["Answer5"]</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">@Localizer["Question6"]</div>
            <div class="faq-answer">@Localizer["Answer6"]</div>
        </div>
    </div>
</div>