﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Strona Główna";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MainPage/MainPageNotLogged.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="hero">
    <h1>@Localizer["MainHeading"]</h1>
</section>

<section class="description">
    <p>
        @Localizer["Description"]
    </p>
</section>

<section class="process">
    <h2><b>@Localizer["HowItWorks"]</b></h2>

    <div class="steps">
        <div class="step">
            <img src="~/images/step1.svg" alt="Krok 1: Zarejestruj się lub zaloguj" />
            <h3>@Localizer["Step1"]</h3>
        </div>
        <div class="step">
            <img src="~/images/step2.svg" alt="Krok 2: Stwórz kapsułę czasu" />
            <h3>@Localizer["Step2"]</h3>
        </div>
        <div class="step">
            <img src="~/images/step3.svg" alt="Krok 3: Wybierz datę otwarcia" />
            <h3>@Localizer["Step3"]</h3>
        </div>
        <div class="step">
            <img src="~/images/step4.svg" alt="Krok 4: Odczytaj wiadomość" />
            <h3>@Localizer["Step4"]</h3>
        </div>
    </div>
</section>

@if (SignInManager.IsSignedIn(User)){
    <section class="cta text-center">
        <a asp-controller="TimeCapsule" asp-action="Step1" class="btn cta-button">
            @Localizer["CreateCapsuleNow"]
        </a>
    </section>
}
else
{
    <section class="cta text-center">
        <a asp-area="Identity" asp-page="/Account/Login"  class="btn cta-button">
            @Localizer["LoginToCreateCapsule"]
        </a>
    </section>
}